.header {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.header__add-clothes-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 20px;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__username {
  margin-right: 12px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header {
  height: 40px;
}

.header__place {
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
