.sidebar {
  min-width: 229px;
}

.sidebar__bar {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  margin: 16px 0;
}

.sidebar__row {
  display: flex;
  gap: 16px;
}

.sidebar__profile-btn,
.sidebar__signout-btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  padding: 0;
}

.sidebar__signout-btn {
  margin-top: 8px;
}